body,ul,li{
    margin:0;
    padding:0;
    list-style:none;
  }
  a{
    color:inherit;
    text-decoration:none;
  }
  body{
    height:1000px;
  }
  .con{
    width:1676px;
  }
  .con{
    margin-left:auto;
    margin-right:auto;
  }
  .con-min-width{
    min-width:770px;
  }
  
  .side-bar{
    background-color:black;
    width:53.08px;
    height:171.36px;
    position:fixed;
    top:50%;
    transform:translatey(-50%);
    text-align:center;
  }
  .side-bar>a{
    font-weight:bold;
  }
  .side-bar>.w{
    color:white;
    font-size:30px;
  }
  .side-bar>.vertical-txt{
    color:white;
    margin-top:55px;
    font-size:13px;
    writing-mode:vertical-rl;
    transform:rotate(180deg);
  }
  .con .logo{
    position:fixed;
    top:80px;
    left:80px;
  }
  .main{
    position:relative;
  }
  .img-box>img{
    width:100%;
    display:block;
  }
  .img-box>.logo{
    height:47px;
  }
  .img-box>.logo-txt{
    margin-top:-10px;
  }
  .top-bar-btn:after{
    content:"";
    background-color:white;
    position:fixed;
    top:80px;
    right:60px;
    height:5px;
    width:42px;
  }
  .bar-2:after{
    top:95px;
    right:60px;
  }
  .bar-3:after{
    top:110px;
    right:60px;
  }
  .video-content{
   position:absolute;
    top:50px;
    left:50px;
    right:50px;
    bottom:0;
    transition:all 1s;
  }
  .video-content>video{
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
  }
  .video-content:hover{
     top:0;
    left:0;
    right:0;
    bottom:0;
  }