body,ul,li{
    margin:0;
    padding:0;
    list-style:none;
  }
  a{
    color:inherit;
    text-decoration:none;
  }
  body{
    height:1000px;
  }
  .con{
    width:1103px;
  }
  .con{
    margin-left:auto;
    margin-right:auto;
  }
  .con-min-width{
    min-width:770px;
  }
  
  .side-bar{
    background-color:black;
    width:53.08px;
    height:171.36px;
    position:fixed;
    top:50%;
    transform:translatey(-50%);
    text-align:center;
  }
  .side-bar>a{
    color:white;
    font-size:30px;
    font-weight:bold;
  }
  .side-bar>.vertical-txt{
    font-weight:none;
  }
  .con .logo{
    position:fixed;
    top:40px;
  }
  .img-box>img{
    width:100%;
    display:block;
  }
  .img-box>.logo{
    height:47px;
  }
  .img-box>.logo-txt{
    margin-top:-10px;
  }
  .top-bar-btn:after{
    content:"";
    background-color:white;
    position:fixed;
    top:60px;
    right:60px;
    height:5px;
    width:42px;
  }
  .bar-2:after{
    top:75px;
    right:60px;
  }
  .bar-3:after{
    top:90px;
    right:60px;
  }
  body{
    background-color:red;
  }